body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f2f2;
}

.main-content {
    flex: 1;
}

.fullscreen-image {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 40px; 
    margin-bottom: 40px; 
}


.image-caption {
    position: absolute;
    top: 10px; 
    left: 10px; 
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image-caption h2,
.image-caption p {
    margin: 0;
    
}

.image-caption h2 {
    color: #7D9D2D;
    font-size: 20px; 
    text-transform: uppercase;
}

.image-caption p {
    color: #333;
    font-size: 17px; 
}

.footer {
    color: #fff;
    text-align: center;
    padding: 10px;
}
