body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    color: white;
    padding: 10px;
    text-align: center;
    flex-shrink: 0;
}
h1{
    margin-left: 30px;
}
h2{
    margin-left: 30px;
}

form {
    margin-left: 30px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color:  #7D9D2D;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    margin-left: 30px;
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 400px;
}

ul li {
   
    margin-bottom: 10px;
}

ul li form {
   
    display: flex;
    justify-content: space-between;
}

ul li form input[type="submit"] {
    
    width: 48%;
    background-color: #e44d26;
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    flex-shrink: 0;
}