body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f2f2;
}

.favorite-items {
    text-align: center;
    margin: 20px;
}

.favorite-items h1 {
    margin-left: 10px;
    color: #7D9D2D;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px;
    padding: 10px;
    border: 1px solid #7D9D2D;
    border-radius: 5px;
    display: inline-block;
    background-color: #f4f4f4;
}


header, footer {
    width: 100%;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.enter-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.enter-person h1 {
    margin: 30px 0;
    padding: 0;
    text-align: center;
    color: #333;
    font-size: 30px;
    text-transform: uppercase;
}

.input-form {
    margin: 15px 0;
    text-align: center;
}

.input-form input {
    padding: 10px;
    width: 100%;
    color: #333;
    font-size: 16px;
    font-weight: 300;
    background: #fff;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.input-form input:focus {
    border: 1px solid  #7D9D2D;
}

.input-form input[type="submit"] {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background:  #7D9D2D;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.input-form input[type="submit"]:hover {
    background: #616265;
}

.input-form input[type="checkbox"] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    color: #333;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

label {
    color: #555;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}
